body{ /*background image*/
    background-image: url('./home\ page\ background.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    height: 100vh; /* Ensures the body takes the full height of the viewport */
}
/*nav section*/
.navbar{
    background-color: rgba(0, 0, 0, 0.2); /* Set the opacity of the background */
}
.navFace {
    height: 80px;
    border-radius: 50%;
    transition: transform 0.3s ease; /* Add transition effect */
}
.navFace:hover{
    transform: scale(1.2); /* Magnify by 1.5 times on hover */
}
.nav-left{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #F5F0F6;
}
.nav-link{
    position: relative;
    transition: all 0.5s ease;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:normal;
    color: #F5F0F6;
}
.nav-link:hover{
    color: white;
}
.nav-link::before{
    content: "";
    position: absolute;
    transition: all 0.3s ease;
    left: 50%;
    bottom: -5px;
    height: 6px;
    width: 6px;
    border-radius: 50%; /*circle shape*/
    background-color: white;
    opacity: 0;
}
.nav-link:hover::before{
    opacity: 1;
}

/*body*/
.container{
    display: flex; 
    flex-direction: row; /*for side by side display*/
    padding-top: 70px;
    padding-bottom: 140px;
}
.middleSection{
    flex: 3; /*a 3:2 ration in space*/
    text-align: center;
    /*compress the box to squeeze words*/
}
h1, .para-text{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: white;
}
.para-text{
    font-size: 35px;
    line-height: 1.3; /*space between lines*/
}
.typewriter-effect{
    font-weight: bold;
    color: rgb(138, 245, 138);
}

/*footer*/
footer{ 
    display: flex; /*side by side display*/
    position: fixed;
    bottom: 0; /*always at bottom*/
    width: 100%;
    background-color: rgba(56, 95, 113, 0.4);
}
.div1, .div2{
    flex: 1; /*left and right section of footer will have a 1:1 ratio*/
}
.fab:hover{
    transform: scale(1.2);
}
.refs{
    list-style: none;
    padding: 0; /*push to the start*/
}
.hover-ref{
    text-decoration: none;
    color: white;
}
.hover-ref:hover{
    text-decoration: none;
    color: yellow;
}